/* FUENTE GENERAL */
:root {
    --bs-body-font-family: 'Lora', serif;
}

body {
    font-family: var(--bs-body-font-family);
}

/* FUENTE DEL TITULO */
.fuente-titulo {
    font-family: 'Emilys Candy', static;
}

/* BACKGROUND COLOR */
.bg-color{
    background-color: #F1E0F1;
}


/* COLOR SECUNDARIO */
.c-secundary {
    background-color: hsl(294, 39%, 85%); 
}

.c-dropdown {
    background-color: #F2E8EE;
}

.c-footer {
    background-color: #231328;
}

.c-compras{
    background-color: #D9C6D5;
}
.click:focus {
    background-color: white;
}

.t-color:focus {
    color: black;
}
